<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script><head>
<meta charset="UTF-8">
<title th:utext="'Le détail de l\'annonce '+${annonce.id}"></title>
</head>
<body>

	<h2 th:utext="'L\'annonce '+${annonce.id}+' en détail !'"></h2>
		<div style="margin:1%;"><a class="btn btn-primary" th:href="@{/}">Retour !</a>
	<a class="btn btn-success" th:href="@{/pdf/{id}(id=${annonce.id})}">Télécharger l'annonce en PDF !</a></div>

	<table class="table">
	    <thead class="thead-light">
		            <th scope="col">Image</th>
		            <th scope="col">Contenu</th>
		            <th scope="col">Date de publication</th>
		            

		</thead>
	    <tbody>
		        <tr>
		            <td> <img th:src="${annonce.image}"/></td>
		            <td th:utext="${annonce.contenu}"></td>
		            <td th:utext="${annonce.datePublication}"></td>
		        </tr>
		    </tbody>
		</table>
</body>
</html>